# Variables

## Integer
10, 15, 7, 0, -4, 100

In [ ]:
apple = 100
banana = 200
a = -8
b = 50000

print(apple, banana)
print(a,b)


sum = apple+banana

print('This is the sum of apple and banana varables:', sum)

100 200
-8 50000
This is the sum of apple and banana varables: 300

## Integer Deduction

## Float/Fractions
1.2, 0.6, 6.999999, 3.1416

In [14]:
pie = 3.1416
r = 45.555

print(pie*r)

143.115588

# Circle Area Finiding Programm

In [19]:
r = int(input('Enter the value of radius: '))

pie = 3.1416

area = pie*pow(r,2)

print(area)

3631.6896

## Celcius to Fahrenheit

In [26]:
print(float(input()))

34.5

In [ ]:
f = float(input())

## Finding the area of a Triangle

side_a, side_b, side_c

In [ ]:
import math



area = math.sqrt(s*(s-a)*(s-b)*(s-c))

# String Operation

In [7]:
k = input()
p = input()

l = k+p

print(l)

I have a cowand it is black

I have a cow
||||.......|
0123.......11

In [11]:
k[0]

'I'

In [12]:
k[11]

'w'

In [17]:
k[3:7]

'ave '

In [10]:
len(k)

12

In [9]:
p

'and it is black'

# Checking Variable Type

In [24]:
apple = 10
pineapple = 100.89
banana = "10"
s = "protein is a macromolecule"


print(type(apple))
print(type(pineapple))
print(type(banana))
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

## Changing Case

In [35]:
s = "protein is a macromolecule"


s_upper = s.upper()

print(s_upper)

s_capitalize = s.capitalize()

print(s_capitalize )

s_lower = s.lower()


print(s_lower)

PROTEIN IS A MACROMOLECULE
Protein is a macromolecule
protein is a macromolecule

## Replacing

In [33]:
g = "Glucose"

x = s.replace("protein",g)

print(x)

Glucose is a macromolecule

In [36]:
x[5:9]

'se i'

## Spliting

In [39]:
x

x_words = x.split(" ")

print(x_words)

['Glucose', 'is', 'a', 'macromolecule']

In [ ]:
word_connt = len(x_words)

print(word_connt)

4

In [44]:
x_words[-2]

'a'

In [42]:
x_words[0:3]

['Glucose', 'is', 'a']

In [47]:
x

x_fun = x.split("i")

print(len(x_fun)-1)

1

In [96]:
cow = "Cows are large, gentle farm animals known for providing milk, a vital source of food for humans. These herbivorous creatures are herbivores, meaning they primarily consume plants like grass and grains. Cows are valued not only for their milk, but also for their meat and leather. They are often found in groups called herds, and farmers provide them with food, water, and shelter."

print(cow.split(".")[-2])

 They are often found in groups called herds, and farmers provide them with food, water, and shelter

## string insertion

<font color='#DFFF00' size = 6 face='New Times Romans'>"<b>Cows</b> are large, gentle farm <i>animals</i> known for providing milk,</font><br> a vital source of food for humans.<br> These herbivorous creatures are herbivores, meaning they primarily consume plants like grass and grains. Cows are valued not only for their milk, but also for their meat and leather. They are often found in groups called herds, and farmers provide them with food, water, and shelter."

![alt text](download.jpg)

In [91]:
cow = "Cows are large, gentle farm animals known for providing milk, a vital source of food for humans."

new_strin=" a crucial thing,"


new_cow = cow[0:61] +new_strin+ cow[61:95]


new_cow

'Cows are large, gentle farm animals known for providing milk, a crucial thing, a vital source of food for humans'

In [90]:
len(cow)

96

In [ ]:
m = "cow"

len(m)

print(m[0:3])

cow

In [88]:
len(cow)

96

# LIST/Array

In [ ]:
l = ['Glucose', 'is', 'a', 'macromolecule']

num_list_str = ['34','-9','4','60','10']

num_list = [34, -9, 4, 60, 10]

print(num_list[0] + num_list[3])


print(num_list_str[0] + num_list_str[3])

94
3460

In [ ]:
mix_list = [4,6,'iko','ben',10]

print(mix_list[-2]+str(mix_list[-1]))

print(mix_list[3]+str(mix_list[4]))

ben10
ben10

## Adding/Inserting data in a List

In [ ]:
l = ['Glucose', 'is', 'a', 'macromolecule']

num_list_str = ['34','-9','4','60','10']

num_list = [34, -9, 4, 60, 10]


l.append("large")

num_list_str.append("100")

num_list.append(10010)


print(l)
print(num_list_str)
print(num_list)

['Glucose', 'is', 'a', 'macromolecule', 'large']
['34', '-9', '4', '60', '10', '100']
[34, -9, 4, 60, 10, 10010]

In [76]:
l = ['Glucose', 'is', 'a', 'macromolecule']


l.insert(3,'large')


print(l)

['Glucose', 'is', 'a', 'large', 'macromolecule']

## Add two or more list

In [77]:
new_list = l+num_list_str

print(new_list)

['Glucose', 'is', 'a', 'large', 'macromolecule', '34', '-9', '4', '60', '10', '100']

# Reading Data from text file

In [ ]:
data_file_path = r"c:\Users\RAZER\Desktop\normal.txt"

ubuntu_formate = "C:/Users/RAZER/Desktop/normal.txt"

with open(data_file_path, "r") as file:
    text_data = file.read()
    
    
print(text_data)

# Dictionary

In [28]:
l = ['Glucose', 'is', 'a', 'macromolecule']



dict_l = {'s' : ['Glucose','kl','ben10','quesn'] , 
        'h' : 'is', 
        'a':'a', 
        'l': 100,
        'full_list':l }



print(dict_l['s'])
print(dict_l['s'][0])
print(dict_l['l'])
print(dict_l['full_list'])
print(dict_l.keys())
dict_l.values()

['Glucose', 'kl', 'ben10', 'quesn']
Glucose
100
['Glucose', 'is', 'a', 'macromolecule']
dict_keys(['s', 'h', 'a', 'l', 'full_list'])

dict_values([['Glucose', 'kl', 'ben10', 'quesn'], 'is', 'a', 100, ['Glucose', 'is', 'a', 'macromolecule']])

# Tupples

In [29]:
t = (4,6,7,7)

print(t[0])

4

# 2d List

In [32]:
# 4 x 4

img = [
        [1,2, 3, 4],
        [5, 6, 7, 8],
        [9, 10, 11, 12],
        [13, 14, 15, 16]]

print(img[0])
print(img[-1])
print(img[-1][2])

[1, 2, 3, 4]
[13, 14, 15, 16]
15

# <font color = red>Condition</font>


<font color='coral'>Caution:</font> Indentation must be applied in `if-else` in python.

if (condition): <br>
________[block of code]                  <- for true condition<br>
else:<br>
________[block of code]                  <- for false condition<br>

In [36]:
rain = input()

if rain == 'yes':
    print("I will take the um")
    print("I will take the um")
    print("I will take the um")
    print("I will take the um")
    print("I will take the um")
else:
    print("I wont take the um")

I wont take the um

In [ ]:
a = 9
b = 9

if a>b:
    print(a, "is greater then", b)
    
elif a==b:
    print(a, "is equal to",b)
    
else:
    print(b, "is greater then", a)

9 is equal to 9

## Finding Reminder in python

In [38]:
a = 27
b = 3
c = 6

print(a/b)
print(a%b)


print(a/c)
print(a%c)

9.0
0
4.5
3

type

# Nested If

In [47]:
a = 3
b = 5
c = 9

if a > b:
    if a>c:
        print(a, "is the greatest.")
else:
    print("Print something")

if a > b and a>c:
        print(a, "is the greatest.")

Print something

# LOOP In Python

In [6]:

hidden_var = 14132

In [9]:



for i in range(1,11):
    print(i)
    print("Hello World")

1
Hello World
2
Hello World
3
Hello World
4
Hello World
5
Hello World
6
Hello World
7
Hello World
8
Hello World
9
Hello World
10
Hello World

In [11]:
l = ['ben10','superman','batman',"ironman"]


for value in l:
    print(value)

ben10
superman
batman
ironman

## Series

1X2X3X4X,,,,,,,,,,,Xn = ?

In [ ]:
n = int(input)

sum = 0

for i in range(1,n+1):
    print("LOOP -", i)
    print("Current Sum", sum)
    print("Current i",i)
    sum = sum + i
    print("Total Sum",sum)
    print('_____________________________________________________')
    
print(sum)

1+2+3+4+,,,,,,,,,,,+100 = ?

In [ ]:
sum = 0

for i in range(1,101):
    print("LOOP -", i)
    print("Current Sum", sum)
    print("Current i",i)
    sum = sum + i
    print("Total Sum",sum)
    print('_____________________________________________________')
    
print(sum)

LOOP - 1
Current Sum 0
Current i 1
Total Sum 1
_____________________________________________________
LOOP - 2
Current Sum 1
Current i 2
Total Sum 3
_____________________________________________________
LOOP - 3
Current Sum 3
Current i 3
Total Sum 6
_____________________________________________________
LOOP - 4
Current Sum 6
Current i 4
Total Sum 10
_____________________________________________________
LOOP - 5
Current Sum 10
Current i 5
Total Sum 15
_____________________________________________________
LOOP - 6
Current Sum 15
Current i 6
Total Sum 21
_____________________________________________________
LOOP - 7
Current Sum 21
Current i 7
Total Sum 28
_____________________________________________________
LOOP - 8
Current Sum 28
Current i 8
Total Sum 36
_____________________________________________________
LOOP - 9
Current Sum 36
Current i 9
Total Sum 45
_____________________________________________________
LOOP - 10
Current Sum 45
Current i 10
Total Sum 55
_____________________________________________________
LOOP - 11
Current Sum 55
Current i 11
Total Sum 66
_____________________________________________________
LOOP - 12
Current Sum 66
Current i 12
Total Sum 78
_____________________________________________________
LOOP - 13
Current Sum 78
Current i 13
Total Sum 91
_____________________________________________________
LOOP - 14
Current Sum 91
Current i 14
Total Sum 105
_____________________________________________________
LOOP - 15
Current Sum 105
Current i 15
Total Sum 120
_____________________________________________________
LOOP - 16
Current Sum 120
Current i 16
Total Sum 136
_____________________________________________________
LOOP - 17
Current Sum 136
Current i 17
Total Sum 153
_____________________________________________________
LOOP - 18
Current Sum 153
Current i 18
Total Sum 171
_____________________________________________________
LOOP - 19
Current Sum 171
Current i 19
Total Sum 190
_____________________________________________________
LOOP - 20
Current Sum 190
Current i 20
Total Sum 210
_____________________________________________________
LOOP - 21
Current Sum 210
Current i 21
Total Sum 231
_____________________________________________________
LOOP - 22
Current Sum 231
Current i 22
Total Sum 253
_____________________________________________________
LOOP - 23
Current Sum 253
Current i 23
Total Sum 276
_____________________________________________________
LOOP - 24
Current Sum 276
Current i 24
Total Sum 300
_____________________________________________________
LOOP - 25
Current Sum 300
Current i 25
Total Sum 325
_____________________________________________________
LOOP - 26
Current Sum 325
Current i 26
Total Sum 351
_____________________________________________________
LOOP - 27
Current Sum 351
Current i 27
Total Sum 378
_____________________________________________________
LOOP - 28
Current Sum 378
Current i 28
Total Sum 406
_____________________________________________________
LOOP - 29
Current Sum 406
Current i 29
Total Sum 435
_____________________________________________________
LOOP - 30
Current Sum 435
Current i 30
Total Sum 465
_____________________________________________________
LOOP - 31
Current Sum 465
Current i 31
Total Sum 496
_____________________________________________________
LOOP - 32
Current Sum 496
Current i 32
Total Sum 528
_____________________________________________________
LOOP - 33
Current Sum 528
Current i 33
Total Sum 561
_____________________________________________________
LOOP - 34
Current Sum 561
Current i 34
Total Sum 595
_____________________________________________________
LOOP - 35
Current Sum 595
Current i 35
Total Sum 630
_____________________________________________________
LOOP - 36
Current Sum 630
Current i 36
Total Sum 666
_____________________________________________________
LOOP - 37
Current Sum 666
Current i 37
Total Sum 703
_____________________________________________________
LOOP - 38
Current Sum 703
Current i 38
Total Sum 741
_____________________________________________________
LOOP - 39
Current Sum 741
Current i 39
Total Sum 780
_____________________________________________________
LOOP - 40
Current Sum 780
Current i 40
Total Sum 820
_____________________________________________________
LOOP - 41
Current Sum 820
Current i 41
Total Sum 861
_____________________________________________________
LOOP - 42
Current Sum 861
Current i 42
Total Sum 903
_____________________________________________________
LOOP - 43
Current Sum 903
Current i 43
Total Sum 946
_____________________________________________________
LOOP - 44
Current Sum 946
Current i 44
Total Sum 990
_____________________________________________________
LOOP - 45
Current Sum 990
Current i 45
Total Sum 1035
_____________________________________________________
LOOP - 46
Current Sum 1035
Current i 46
Total Sum 1081
_____________________________________________________
LOOP - 47
Current Sum 1081
Current i 47
Total Sum 1128
_____________________________________________________
LOOP - 48
Current Sum 1128
Current i 48
Total Sum 1176
_____________________________________________________
LOOP - 49
Current Sum 1176
Current i 49
Total Sum 1225
_____________________________________________________
LOOP - 50
Current Sum 1225
Current i 50
Total Sum 1275
_____________________________________________________
LOOP - 51
Current Sum 1275
Current i 51
Total Sum 1326
_____________________________________________________
LOOP - 52
Current Sum 1326
Current i 52
Total Sum 1378
_____________________________________________________
LOOP - 53
Current Sum 1378
Current i 53
Total Sum 1431
_____________________________________________________
LOOP - 54
Current Sum 1431
Current i 54
Total Sum 1485
_____________________________________________________
LOOP - 55
Current Sum 1485
Current i 55
Total Sum 1540
_____________________________________________________
LOOP - 56
Current Sum 1540
Current i 56
Total Sum 1596
_____________________________________________________
LOOP - 57
Current Sum 1596
Current i 57
Total Sum 1653
_____________________________________________________
LOOP - 58
Current Sum 1653
Current i 58
Total Sum 1711
_____________________________________________________
LOOP - 59
Current Sum 1711
Current i 59
Total Sum 1770
_____________________________________________________
LOOP - 60
Current Sum 1770
Current i 60
Total Sum 1830
_____________________________________________________
LOOP - 61
Current Sum 1830
Current i 61
Total Sum 1891
_____________________________________________________
LOOP - 62
Current Sum 1891
Current i 62
Total Sum 1953
_____________________________________________________
LOOP - 63
Current Sum 1953
Current i 63
Total Sum 2016
_____________________________________________________
LOOP - 64
Current Sum 2016
Current i 64
Total Sum 2080
_____________________________________________________
LOOP - 65
Current Sum 2080
Current i 65
Total Sum 2145
_____________________________________________________
LOOP - 66
Current Sum 2145
Current i 66
Total Sum 2211
_____________________________________________________
LOOP - 67
Current Sum 2211
Current i 67
Total Sum 2278
_____________________________________________________
LOOP - 68
Current Sum 2278
Current i 68
Total Sum 2346
_____________________________________________________
LOOP - 69
Current Sum 2346
Current i 69
Total Sum 2415
_____________________________________________________
LOOP - 70
Current Sum 2415
Current i 70
Total Sum 2485
_____________________________________________________
LOOP - 71
Current Sum 2485
Current i 71
Total Sum 2556
_____________________________________________________
LOOP - 72
Current Sum 2556
Current i 72
Total Sum 2628
_____________________________________________________
LOOP - 73
Current Sum 2628
Current i 73
Total Sum 2701
_____________________________________________________
LOOP - 74
Current Sum 2701
Current i 74
Total Sum 2775
_____________________________________________________
LOOP - 75
Current Sum 2775
Current i 75
Total Sum 2850
_____________________________________________________
LOOP - 76
Current Sum 2850
Current i 76
Total Sum 2926
_____________________________________________________
LOOP - 77
Current Sum 2926
Current i 77
Total Sum 3003
_____________________________________________________
LOOP - 78
Current Sum 3003
Current i 78
Total Sum 3081
_____________________________________________________
LOOP - 79
Current Sum 3081
Current i 79
Total Sum 3160
_____________________________________________________
LOOP - 80
Current Sum 3160
Current i 80
Total Sum 3240
_____________________________________________________
LOOP - 81
Current Sum 3240
Current i 81
Total Sum 3321
_____________________________________________________
LOOP - 82
Current Sum 3321
Current i 82
Total Sum 3403
_____________________________________________________
LOOP - 83
Current Sum 3403
Current i 83
Total Sum 3486
_____________________________________________________
LOOP - 84
Current Sum 3486
Current i 84
Total Sum 3570
_____________________________________________________
LOOP - 85
Current Sum 3570
Current i 85
Total Sum 3655
_____________________________________________________
LOOP - 86
Current Sum 3655
Current i 86
Total Sum 3741
_____________________________________________________
LOOP - 87
Current Sum 3741
Current i 87
Total Sum 3828
_____________________________________________________
LOOP - 88
Current Sum 3828
Current i 88
Total Sum 3916
_____________________________________________________
LOOP - 89
Current Sum 3916
Current i 89
Total Sum 4005
_____________________________________________________
LOOP - 90
Current Sum 4005
Current i 90
Total Sum 4095
_____________________________________________________
LOOP - 91
Current Sum 4095
Current i 91
Total Sum 4186
_____________________________________________________
LOOP - 92
Current Sum 4186
Current i 92
Total Sum 4278
_____________________________________________________
LOOP - 93
Current Sum 4278
Current i 93
Total Sum 4371
_____________________________________________________
LOOP - 94
Current Sum 4371
Current i 94
Total Sum 4465
_____________________________________________________
LOOP - 95
Current Sum 4465
Current i 95
Total Sum 4560
_____________________________________________________
LOOP - 96
Current Sum 4560
Current i 96
Total Sum 4656
_____________________________________________________
LOOP - 97
Current Sum 4656
Current i 97
Total Sum 4753
_____________________________________________________
LOOP - 98
Current Sum 4753
Current i 98
Total Sum 4851
_____________________________________________________
LOOP - 99
Current Sum 4851
Current i 99
Total Sum 4950
_____________________________________________________
LOOP - 100
Current Sum 4950
Current i 100
Total Sum 5050
_____________________________________________________
5050

1+5+10+15+,,,,,,,,,,,,,,,+n = ?

for i range(starting_point, ending_point+1, increament):

In [25]:



for i in range(0,100+1,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

1<sup>2</sup>+3<sup>2</sup>+5<sup>2</sup>+7<sup>2</sup>+............+n<sup>2</sup>

In [18]:
n = 10


sum = 0

for i in range(1,n+1,2):
    print("Value of i=", i)
    print("Value of i^2=",pow(i,2))
    sum = sum+pow(i,2)
    print("____________________________")

print(sum)

Value of i= 1
Value of i^2= 1
____________________________
Value of i= 3
Value of i^2= 9
____________________________
Value of i= 5
Value of i^2= 25
____________________________
Value of i= 7
Value of i^2= 49
____________________________
Value of i= 9
Value of i^2= 81
____________________________
165